{
  "mqtt": {
    "host": "YOUR_MQTT_BROKER_IP",
    "port": 1883,
    "username": "your_mqtt_username",
    "password": "your_mqtt_password",
    "client_id": "",
    "keepalive": 60,
    "discovery_prefix": "homeassistant"
  },
  "sensor": {
    "hostname": "",
    "interval": 30,
    "temperature_sensor_key": "auto",
    "temperature_unit": "C",
    "ram_metrics": "used_percent",
    "disks": [
      "/"
    ]
  }
}
